<div  class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalDelete">
          <span><i class="bi bi-exclamation-triangle"></i></span>
          Confirmar Exclusão
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir o chamado abaixo?</p>

        <ul class="list-group mb-4">
          <li class="list-group-item"><i class="bi bi-file-earmark-minus"></i> Chamado <strong class="text-danger">#{{ item.id }}</strong></li>
          <li class="list-group-item"><i class="bi bi-file-text"></i> {{ item.title }}</li>
          <li class="list-group-item"><i class="bi bi-calendar-week"></i> Criado em: <strong class="text-danger">{{ item.data}}</strong></li>
        </ul>

        <p class="text-danger"><i class="bi bi-exclamation-triangle"></i> Esta ação não pode ser desfeita!</p>
      </div>
         <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger" (click)="deleteItem()" ><i class="bi bi-trash"></i> Excluir</button>
          </div>
    </div>
  </div>
</div>
