<div  class="modal fade" id="modalAction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="alert alert-primary" role="alert" *ngIf="msgAlert">
      chamado criado com sucesso!
    </div> -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <span><i class="{{classIcon()}}"></i></span>
          {{ label }} <strong *ngIf="actionEdit"> #{{ form.value.id }}</strong>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form"  (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label for="title" class="form-label" >Titulo: *</label>
            <input type="text" class="form-control {{validForm('title')}}"  id="title" formControlName="title" required>
              <div id="title" class="invalid-feedback" *ngIf="form.get('title')?.hasError('pattern')" >
                Apenas letras
              </div>
          </div>
          <div class="mb-3">
            <label for="descriptions" class="form-label">Descrição: *</label>
            <input type="text" class="form-control {{validForm('description')}}" id="descriptions" formControlName="description" required>
            <div id="title" class="invalid-feedback" *ngIf="form.get('description')?.hasError('pattern')" >
                Apenas letras e números
            </div>
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status: *</label>
            <select class="form-select {{validForm('status')}}" aria-label="seleção de status" formControlName="status" id="status" required>
              <option value="Aberto">Aberto</option>
              <option value="Progresso">Progresso</option>
              <option value="Fechado">Fechado</option>
            </select>
          </div>
          <div class="mb-3">
              <label class="" for="autoID">ID: </label>
              <input  class="auto" id="autoID" formControlName="id" readonly>
          </div>
            <div class="mb-3 ">
              <label class="form-check-label" for="autoDate">Data: </label>
              <input  class="auto" id="autoDate" formControlName="date" readonly>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" [disabled]="form.invalid" class="btn btn-primary" ><i class="bi bi-floppy"></i> {{btnActionSubmit}}</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
